storage/__pycache__
storage/images/*
storage/ramdisk/*

rfid/__pycache__
rfid/**/*.out

fingerprint/__pycache__
fingerprint/bep/__pycache__
fingerprint/*.log
fingerprint/venv

encryption/__pycache__
encryption/stpm/src/*.o
encryption/stpm/src/tpm_server

display/__pycache__
display/luma.examples
display/venv

utils/__pycache__

venv
py
NVChip
*.log