[submodule "rfid/WiringPi"]
	path = rfid/WiringPi
	url = https://github.com/WiringPi/WiringPi
	ignore = untracked
[submodule "rfid/pn532-lib"]
	path = rfid/pn532-lib
	url = https://github.com/soonuse/pn532-lib
	ignore = untracked
